<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}ALERT NOTES NULL{% endblock %}</title>
    <link id="callCss" rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}" type="text/css" media="screen"/>
    <link href="{{ asset('build/css/demo.css') }}" rel="stylesheet" type="text/css">

</head>
<body>
{% block body %}



    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" style="text-align: center; color: orangered">AUCUNE NOTE/MOYENNE NULL DANS CETTE SPECIALITE</h4><span style="text-align: center"></span>
            </div>
            <div class="modal-body">

                <p> <p class="text-warning" > <div style="font-style: italic; color: blue; font-size: 18px; text-align: center"></div> </p></p>

            </div>
            <div class="modal-footer">
                <a href="{{ path('siges_dashboarddelibbylevel') }}"  class="btn btn-danger">OK</a>

            </div>
        </div>
    </div>
    </div>
{% endblock %}
<script src="{{ asset('build/js/jquery-3.1.1.min.js') }}"></script>
<script src="{{  asset('build/js/bootstrap.min.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#myModal").modal('show');
    });
</script>
</body>
</html>