<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <link rel="icon" type="image/png" href="{{ asset('build/img/favicon.ico') }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="{{ asset('build/css/bootstrap.min.css') }}" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="{{ asset('build/css/material-dashboard.css') }}" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{{ asset('build/css/demo.css') }}" rel="stylesheet" />
    <link href="{{ asset('build/css/material-bootstrap-wizard.css') }}" rel="stylesheet" />

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" />
    <!-- Select2 -->
    <link href="{{ asset('build/css/select2.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/editeur/css/editor.dataTables.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/editeur/examples/resources/syntax/shCore.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('build/editeur/examples/resources/demo.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.0/css/buttons.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.4/css/select.dataTables.min.css">
    <link href="{{ asset('build/css/bootstrap-datepicker.css') }}" rel="stylesheet" type="text/css">


    <style type="text/css" class="init">

    </style>
</head>

<body>
<div class="wrapper">
    <div class="sidebar" data-active-color="blue" data-background-color="white" data-image="{{ asset('build/img/bgsidebar.jpg') }}">
        <!--
    Tip 1: You can change the color of active element of the sidebar using: data-active-color="purple | blue | green | orange | red | rose"
    Tip 2: you can also add an image using data-image tag
    Tip 3: you can change the color of the sidebar with data-background-color="white | black"
-->
        <div class="logo">
            <a href="#" class="simple-text">
                SIGES
            </a>
        </div>
        <div class="logo logo-mini">
            <a href="#" class="simple-text">

            </a>
        </div>
        <div class="sidebar-wrapper">
            <div class="user">
                <div class="photo">

                    {% if app.user.picture=="" %}
                    <img src="{{ asset('build/img/default-avatar.png') }}" alt="photoprofile"/>

                    {% endif %}

                    {% if app.user.picture!="" %}
                        <img src="/SIGES/public/images/users/{{ app.user.picture }}" alt="photoprofile"/>

                    {% endif %}


                </div>
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed">
                        {{ app.user.firstname }}
                        <br>&nbsp;{{ app.user.lastname}}
                        <b class="caret"></b>
                    </a>
                    <div class="collapse" id="collapseExample">
                        <ul class="nav">
                            <li>
                                <a href="{{ path('security_updprofil',{id:app.user.id }) }}" style="color: black">Mon Profil</a>

                            </li>

                            <li>
                                <a href="{{ path('security_updpwd',{id:app.user.id }) }}" style="color: black">Modifier mot de Passe</a>

                            </li>

                            <li>
                                <a href="{{ path('security_logout') }}" style="color: black"> Deconnexion</a>

                            </li>


                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="{%if current_menu is defined  and  current_menu=='oversightdashpedagores'%}active{% endif %}">
                    <a href="{{ path('siges_oversightdashpedagores') }}">
                        <i class="material-icons">dashboard</i>
                        <p>Tableau de Bord</p>
                    </a>
                </li>


                <li>
                    <a data-toggle="collapse" href="#pagesExamples">
                        <i class="material-icons">filter_1</i>
                        <p>Supervision des Saisies
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse {%if current_menu is defined  and  current_menu=='ecunexoversight'%}in{% endif %} {%if current_menu is defined  and  current_menu=='oversightrp'%}in{% endif %} {%if current_menu is defined  and  current_menu=='specmccoversight'%}in{% endif %}{%if current_menu is defined  and  current_menu=='ecumccoversight'%}in{% endif %}" id="pagesExamples">
                        <ul class="nav">

                            <li class="{%if current_menu is defined  and  current_menu=='ecunexoversight'%}active{% endif %} {%if current_menu is defined  and  current_menu=='oversightrp'%}active{% endif %} {%if current_menu is defined  and  current_menu=='specmccoversight'%}active{% endif %} {%if current_menu is defined  and  current_menu=='redirectoversightrp'%}active{% endif %}{%if current_menu is defined  and  current_menu=='ecumccoversight'%}active{% endif %}"><a href="{{ path('siges_redirectoversightrp', {'idses': 'SE1', 'semtype': 'IMPAIR'}) }}"> <i class="material-icons">keyboard</i>1<sup>ère</sup> Session Semestres IMPAIRS </a>
                            </li>
                            <li class=" {%if current_menu is defined  and  current_menu=='teachereculist'%}active{% endif %}"><a href="#"> <i class="material-icons">keyboard</i>2<sup>ème</sup> Session Semestres IMPAIRS </a>
                            </li>
                            <li class=" {%if current_menu is defined  and  current_menu=='teachereculist'%}active{% endif %}"><a href="#"> <i class="material-icons">keyboard</i>1<sup>ère</sup> Session Semestres PAIRS </a>
                            </li>
                            <li class=" {%if current_menu is defined  and  current_menu=='teachereculist'%}active{% endif %}"><a href="#"> <i class="material-icons">keyboard</i>2<sup>ème</sup> Session Semestres PAIRS </a>
                            </li>



                        </ul>
                    </div>

                </li>
                {%if(app.session.get('userrole')  =='ROLE_PEDAGORES')%}
                <li>
                    <a href="{{ path('siges_dashboardpedagores') }}">
                        <i class="material-icons">reply</i>
                        <p>Retour Options</p>
                    </a>
                </li>
         {% endif %}


                {%if(app.session.get('userrole')  =='ROLE_SUPDP')%}
                    <li>
                        <a href="{{ path('siges_dashboardsupdp') }}">
                            <i class="material-icons">reply</i>
                            <p>Retour Options</p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-minimize">
                    <button id="minimizeSidebar" class="btn btn-round btn-white btn-fill btn-just-icon">
                        <i class="material-icons visible-on-sidebar-regular">more_vert</i>
                        <i class="material-icons visible-on-sidebar-mini">view_list</i>
                    </button>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">      <div style="text-align: center; font-style: italic; font-weight: bold; color: #ed7424;">  SUPERVISION DES SAISIES - DP  ANNEE ACADEMIQUE: &nbsp;&nbsp;<span class="card-title"> {{ app.session.get('anacad') }}</span> </div> </a>
                </div>

            </div>
        </nav>
        <div class="content">
            {% block body %}{% endblock %}
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Système de Gestion Intégré de l'ESATIC- Espace Ressources Pédagogiques
                            </a>
                        </li>

                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    SIGES
                </p>
            </div>
        </footer>
    </div>
</div>



</body>
<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-1.12.4.js">
</script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js">
</script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.0/js/dataTables.buttons.min.js">
</script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/select/1.2.4/js/dataTables.select.min.js"></script>
<!--   Core JS Files   -->
<script src="{{ asset('build/js/jquery-3.1.1.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/js/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/js/material.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('build/js/perfect-scrollbar.jquery.min.js') }}" type="text/javascript"></script>
<!-- Forms Validations Plugin -->
<script src="{{ asset('build/js/jquery.validate.min.js') }}"></script>
<!--  Plugin for Date Time Picker and Full Calendar Plugin-->
<script src="{{ asset('build/js/moment.min.js') }}"></script>
<!--  Charts Plugin -->
<script src="{{ asset('build/js/chartist.min.js') }}"></script>
<!--  Plugin for the Wizard -->
<script src="{{ asset('build/js/jquery.bootstrap-wizard.js') }}"></script>
<!--  Notifications Plugin    -->
<script src="{{ asset('build/js/bootstrap-notify.js') }}"></script>
<!-- DateTimePicker Plugin -->
<script src="{{ asset('build/js/bootstrap-datetimepicker.js') }}"></script>
<!-- Vector Map plugin -->
<script src="{{ asset('build/js/jquery-jvectormap.js') }}"></script>
<!-- Sliders Plugin -->
<script src="{{ asset('build/js/nouislider.min.js') }}"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js"></script>
<!-- Select Plugin -->
<script src="{{ asset('build/js/jquery.select-bootstrap.js') }}"></script>
<!--  DataTables.net Plugin    -->
<script src="{{ asset('build/js/jquery.datatables.js') }}"></script>
<!-- Sweet Alert 2 plugin -->
<script src="{{ asset('build/js/sweetalert2.js') }}"></script>
<!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
<script src="{{ asset('build/js/jasny-bootstrap.min.js') }}"></script>
<!--  Full Calendar Plugin    -->
<script src="{{ asset('build/js/fullcalendar.min.js') }}"></script>
<!-- TagsInput Plugin -->
<script src="{{ asset('build/js/jquery.tagsinput.js') }}"></script>
<!-- Material Dashboard javascript methods -->
<script src="{{ asset('build/js/material-dashboard.js') }}"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="{{ asset('build/js/demo.js') }}"></script>




<!-- bootstrap-daterangepicker -->
<script src="{{ asset('build/js/moment.min.js') }}"></script>
<script src="{{ asset('build/js/daterangepicker.js') }}"></script>
<!-- jquery.inputmask -->
<script src="{{ asset('build/js/jquery.inputmask.bundle.min.js') }}"></script>

<!-- Select2 -->
<script src="{{ asset('build/js/select2.full.min.js') }}"></script>
<!-- jQuery autocomplete -->
<script src="{{ asset('build/js/jquery.autocomplete.min.js') }}"></script>

<script type="text/javascript" language="javascript" src="{{ asset('build/editeur/js/dataTables.editor.min.js') }}">
</script>
<script type="text/javascript" language="javascript" src="{{ asset('build/editeur/examples/resources/syntax/shCore.js') }}">
</script>
<script type="text/javascript" language="javascript" src="{{ asset('build/editeur/examples/resources/demo.js') }}">
</script>
<script type="text/javascript" language="javascript" src="{{ asset('build/editeur/examples/resources/editor-demo.js') }}">
</script>




<script type="text/javascript">
    $().ready(function() {
        demo.checkFullPageBackgroundImage();

        setTimeout(function() {
            // after 1000 ms we add the class animated to the login/register card
            $('.card').removeClass('card-hidden');
        }, 700)
    });
</script>





<!-- Select2 -->
<script>
    $(document).ready(function() {
        $(".select2_single").select2({

            allowClear: true
        });
        $(".select2_group").select2({});
        $(".select2_multiple").select2({
            maximumSelectionLength: 4,
            placeholder: "With Max Selection limit 4",
            allowClear: true
        });
    });
</script>
<!-- /Select2 -->
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatables').DataTable({
            "pagingType": "full_numbers",
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, "Tous"]
            ],
            responsive: true,
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Recherche",
            }

        });


        var table = $('#datatables').DataTable();

        // Edit record
        table.on('click', '.edit', function() {
            $tr = $(this).closest('tr');

            var data = table.row($tr).data();
            alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });

        // Delete a record
        table.on('click', '.remove', function(e) {
            $tr = $(this).closest('tr');
            table.row($tr).remove().draw();
            e.preventDefault();
        });

        //Like record
        table.on('click', '.like', function() {
            alert('You clicked on Like button');
        });

        $('.card .material-datatables label').addClass('form-group');
    });
</script>
<script type="text/javascript">
    $(document).ready(function() {

        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.initVectorMap();
    });
</script>



<!-- validator -->
<script>
    // initialize the validator function
    validator.message.date = 'not a real date';

    // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
    $('form')
        .on('blur', 'input[required], input.optional, select.required', validator.checkField)
        .on('change', 'select.required', validator.checkField)
        .on('keypress', 'input[required][pattern]', validator.keypress);

    $('.multi.required').on('keyup blur', 'input', function() {
        validator.checkField.apply($(this).siblings().last()[0]);
    });

    $('form').submit(function(e) {
        e.preventDefault();
        var submit = true;

        // evaluate the form using generic validaing
        if (!validator.checkAll($(this))) {
            submit = false;
        }

        if (submit)
            this.submit();

        return false;
    });
</script>
<!-- /validator -->


<script>


    $('#listspeclevel').DataTable({


        "ajax": "{{ path('siges_listspecsemnex') }}",
        "sAjaxDataProp": "data",
        "pageLength": 10,

        "columns":[

            {"data": "levelid"},
            {"data": "specid"},
            {"data": "idsem"},
            {"data": "nbecu"},





        ],
        "language": {
            "search": "_INPUT_",
            "searchPlaceholder": "Recherche",
            "paginate": {
                "first":      "Premier",
                "last":       "Dernier",
                "next":       "Suivant",
                "previous":   "Précédent"
            },
            "zeroRecords":    "Aucun Resultat Trouvé",
            "emptyTable":     "Aucun Resultat Trouvé",
            "info":           "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
            "infoEmpty":      "Affichage de 0 à 0 sur 0 entrées",
            "infoFiltered":   "(filtrés sur _MAX_ total entrées)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Afficher _MENU_ entrées",
            "loadingRecords": "Chargement...",
            "processing":     "Chargement...",
            "search":         "Recherche:"

        }
    });



</script>


<script>


    $('#ecusemnex').DataTable({


        "ajax": "{{ path('siges_listecusemnex') }}",
        "sAjaxDataProp": "data",
        "pageLength": 10,
        "language": {
            "search": "_INPUT_",
            "searchPlaceholder": "Recherche",
            "paginate": {
                "first":      "Premier",
                "last":       "Dernier",
                "next":       "Suivant",
                "previous":   "Précédent"
            },
            "zeroRecords":    "Aucun Resultat Trouvé",
            "emptyTable":     "Aucun Resultat Trouvé",
            "info":           "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
            "infoEmpty":      "Affichage de 0 à 0 sur 0 entrées",
            "infoFiltered":   "(filtrés sur _MAX_ total entrées)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Afficher _MENU_ entrées",
            "loadingRecords": "Chargement...",
            "processing":     "Chargement...",
            "search":         "Recherche:"

        },
        "columns":[

            {"data": "ue"},
            {"data": "ecu"},
            {"data": "incorpo"},


            {"data": "MODIFIER"}

        ]
    });

</script>


<script>


    $('#listspecmccover').DataTable({


        "ajax": "{{ path('siges_listspecmccoversight') }}",
        "sAjaxDataProp": "data",
        "pageLength": 10,

        "columns":[

            {"data": "levelid"},
            {"data": "specid"},
            {"data": "idsem"},
            {"data": "saiecue"},




        ],
        "language": {
            "search": "_INPUT_",
            "searchPlaceholder": "Recherche",
            "paginate": {
                "first":      "Premier",
                "last":       "Dernier",
                "next":       "Suivant",
                "previous":   "Précédent"
            },
            "zeroRecords":    "Aucun Resultat Trouvé",
            "emptyTable":     "Aucun Resultat Trouvé",
            "info":           "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
            "infoEmpty":      "Affichage de 0 à 0 sur 0 entrées",
            "infoFiltered":   "(filtrés sur _MAX_ total entrées)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Afficher _MENU_ entrées",
            "loadingRecords": "Chargement...",
            "processing":     "Chargement...",
            "search":         "Recherche:"

        }
    });



</script>



<script>


    $('#listecumccover').DataTable({


        "ajax": "{{ path('siges_listecumccoversight') }}",
        "sAjaxDataProp": "data",
        "pageLength": 10,

        "columns":[

            {"data": "classename"},
            {"data": "specid"},
            {"data": "levelid"},


            {"data": "ecuname"},
            {"data": "semester"},
            {"data": "ens"},

            {"data": "averageva"},
            {"data": "listing"}


        ],
        "language": {
            "search": "_INPUT_",
            "searchPlaceholder": "Recherche",
            "paginate": {
                "first":      "Premier",
                "last":       "Dernier",
                "next":       "Suivant",
                "previous":   "Précédent"
            },
            "zeroRecords":    "Aucun Resultat Trouvé",
            "emptyTable":     "Aucun Resultat Trouvé",
            "info":           "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
            "infoEmpty":      "Affichage de 0 à 0 sur 0 entrées",
            "infoFiltered":   "(filtrés sur _MAX_ total entrées)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Afficher _MENU_ entrées",
            "loadingRecords": "Chargement...",
            "processing":     "Chargement...",
            "search":         "Recherche:"

        }
    });



</script>



<script>


    $('#listspecnexover').DataTable({


        "ajax": "{{ path('siges_listspecnexoversight') }}",
        "sAjaxDataProp": "data",
        "pageLength": 10,

        "columns":[

            {"data": "levelid"},
            {"data": "specid"},
            {"data": "idsem"},
            {"data": "saiecue"},




        ],
        "language": {
            "search": "_INPUT_",
            "searchPlaceholder": "Recherche",
            "paginate": {
                "first":      "Premier",
                "last":       "Dernier",
                "next":       "Suivant",
                "previous":   "Précédent"
            },
            "zeroRecords":    "Aucun Resultat Trouvé",
            "emptyTable":     "Aucun Resultat Trouvé",
            "info":           "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
            "infoEmpty":      "Affichage de 0 à 0 sur 0 entrées",
            "infoFiltered":   "(filtrés sur _MAX_ total entrées)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Afficher _MENU_ entrées",
            "loadingRecords": "Chargement...",
            "processing":     "Chargement...",
            "search":         "Recherche:"

        }
    });



</script>



<script>


    $('#listecunexover').DataTable({


        "ajax": "{{ path('siges_listecunexoversight') }}",
        "sAjaxDataProp": "data",
        "pageLength": 10,

        "columns":[

            {"data": "classename"},
            {"data": "specid"},
            {"data": "levelid"},


            {"data": "ecuname"},
            {"data": "semester"},
            {"data": "ens"},

            {"data": "averageva"},
            {"data": "listing"}


        ],
        "language": {
            "search": "_INPUT_",
            "searchPlaceholder": "Recherche",
            "paginate": {
                "first":      "Premier",
                "last":       "Dernier",
                "next":       "Suivant",
                "previous":   "Précédent"
            },
            "zeroRecords":    "Aucun Resultat Trouvé",
            "emptyTable":     "Aucun Resultat Trouvé",
            "info":           "Affichage de _START_ à _END_ sur _TOTAL_ entrées",
            "infoEmpty":      "Affichage de 0 à 0 sur 0 entrées",
            "infoFiltered":   "(filtrés sur _MAX_ total entrées)",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "Afficher _MENU_ entrées",
            "loadingRecords": "Chargement...",
            "processing":     "Chargement...",
            "search":         "Recherche:"

        }
    });



</script>
</html>