{% extends 'layoutoversightpedagores.html.twig' %}

{% block title %}SIGES|Supervision - Saisie{% endblock %}

{% block body %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">assignment</i>
                    </div>

                    <div class="card-content">
                        <h4 class="card-title">VERIFICATIONS ET EDITIONS DE LISTING DE NOTES D'EXAMENS  Liste  ECUE  <span style="font-style: italic; color: grey; font-size: 14px;"> Niveau:{{ app.session.get('levelidecunex') }} &nbsp;&nbsp; Spécialité :{{ app.session.get('specidecunex') }} &nbsp;&nbsp; Semestre: {{ app.session.get('semidecunex') }} </span></h4>

                        <div style="text-align: center"> <a href="{{ path('siges_specnexoversight') }}"><i class="fa fa-mail-reply-all"></i>Retour aux choix des niveaux</a></div>


                        <table id="listecunexover"  class="table table-striped table-bordered table-condensed">
                            <thead>
                            <tr>
                                <th>Classe</th>
                                <th>Spécialité</th>
                                <th>Niveau</th>



                                <th>ECUE</th>
                                <th>Semestre</th>
                                <th>Enseignant</th>
                                <th>NB Moy Valid.</th>
                                <th>Listing</th>



                            </tr>
                            </thead>


                            <tbody>

                            </tbody>
                        </table>
                    </div>

                    <div style="text-align: center"> <a href="{{ path('siges_specnexoversight') }}"><i class="fa fa-mail-reply-all"></i>Retour aux choix des niveaux</a></div>
                </div>
            </div>
        </div>



    </div>
{% endblock %}
