{% extends 'layoutchart.html.twig' %}

{% block title %}SIGES|Supervision- Saisie{% endblock %}

{% block body %}
    <style type="text/css"> @page {
            size: landscape;
        }    </style>
    <!-- page content -->
    <div class="container-fluid">

        <div class="row" >
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="blue">
                        <i class="material-icons">timeline </i>
                    </div>

                    <div class="card-content">
                        <h4 class="card-title">Point des Saisies de Moyennes/Notes Semestrielles : <span style="font-style: italic; color: grey; font-size: 14px;"> {%if(app.session.get('idsesoversight')  =='SE1')%}  1<sup>ère</sup>SESSION {% endif %} {%if(app.session.get('idsesoversight')  =='SE2')%}  2<sup>ème</sup>SESSION {% endif %} &nbsp;&nbsp;{%if(app.session.get('semtypeoversight')  =='IMPAIR')%}  SEMESTRES IMPAIRS {% endif %}&nbsp;&nbsp;{%if(app.session.get('semtypeoversight')  =='PAIR')%}  SEMESTRES PAIRS {% endif %}</span></h4>





                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="blue">
                                    <i class="material-icons">pie_chart</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Moyennes de Contrôles Continus(MCC)</h4>
                                </div>
                                <div id="chartDivrepmcc"  style="width:475px;height:250px;margin-left: 15px;  color: white;"></div>
                                <div class="card-footer">
                                    <a href="{{ path('siges_specmccoversight') }}" class="btn btn-info"><span style="font-weight: bold; color: orangered">TOTAL : {{ nbecu }} ECUE ({{ percentecusai }} % de  saisies MCC) </span>  - Voir Détails<i class="material-icons">keyboard_arrow_right</i></a>



                                </div>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="card">
                                <div class="card-header card-header-icon" data-background-color="blue">
                                    <i class="material-icons">pie_chart</i>
                                </div>
                                <div class="card-content">
                                    <h4 class="card-title">Notes d'Examens(NEX)</h4>
                                </div>
                                <div id="chartDivrepnex"  style="width:475px;height:250px;margin-left: 15px;  color: white;"></div>
                                <div class="card-footer">
                                    <a href="{{ path('siges_specnexoversight') }}" class="btn btn-info"><span style="font-weight: bold; color: orangered">TOTAL : {{ nbecu }}  ECUE  ({{ percentecusaiex}} % de  saisies NEX)  </span>  - Voir Détails<i class="material-icons">keyboard_arrow_right</i></a>

                                </div>
                            </div>
                        </div>



                    </div>


                </div>

            </div>
        </div>



    </div>
{% endblock %}
